html {
    margin: 0;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: none;
}

main {
    width: 100vw;
    overflow: visible;
    background-color: none;
    display:flex;
    flex-direction: column;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Adjust the z-index as needed */
    background-color: none;
}

.about-page-link {
    text-decoration: none; /* Remove underline */
    background-color: none;
    height: 20%;
    width: 50%;
    position: absolute;
    top: 12%;
    left: 30.8%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the title is above the canvas */
    text-align: center;
}

.ABOUT {
    margin-left: 0%;
    margin-top: 5%;
    font-size: 10rem;
    width:30%;
    background-color: none;
    color:black;
}

.main-title {
    height: 40%;
    width: 100%;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the title is above the canvas */
    text-align: center;
}

.bold {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 12rem;
    line-height: 0.1;
}

.italic {
    font-family: 'Rhetorik Serif', serif;
    font-style: italic;
    font-size: 7rem;
    line-height: 0.1;
    font-weight: 100;
}

.main-page-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from its parent */
}

.OBJECTS {
    margin-left: -53.3%;
    margin-top: 1%;
}

/* Adjust styling for the color filter */
#colorFilter {
    position: absolute;
    top: -19.8%; /* Adjust the top position as needed */
    right: 2.8%; /* Adjust the right position as needed */
}

/* Adjust styling for the material filter */
#materialFilter {
    position: absolute;
    top: -16.8%; /* Adjust the top position as needed */
    right: 15%; /* Adjust the right position as needed */
}

/* Adjust styling for the MDM filter */
#MDMFilter {
    position: absolute;
    top: -8.7%; /* Adjust the top position as needed */
    right: 31%; /* Adjust the right position as needed */
}

/* Adjust width of filter buttons within dropdown menus */
#colorFilter .dropdown-content button {
    width: calc(80%); /* Adjust width to match color filter */
}

#materialFilter .dropdown-content button {
    width: calc(100%); /* Adjust width to match material filter */
}

#MDMFilter .dropdown-content button {
    width: calc(142%); /* Adjust width to match MDM filter */
}

/* Add this CSS to your existing styles */
#colorFilter button,
#materialFilter button,
#MDMFilter button {
    position: relative;
    display: block;
    margin-bottom: 0px; /* Add margin between MDM filter buttons */
}

.filterButton.active.inverted {
    background-color: #fff; /* Change background color */
    color: #000; /* Change text color */
}


/* Dropdown button */
.dropbtn {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5rem;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top:-17%;
}

/* Style for active dropdown button */
.dropbtn.active {
    background-color: #000; /* Change background color */
    color: #fff;            /* Change text color */
    border: 2px solid #fff;  /* Adjust border for better visibility */
}

/* Dropdown container (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: none;
    min-width: 160px;
    z-index: 1;
    padding: 0px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    padding: 0px;
}

/* Dropdown menu items */
.dropdown-content button {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5rem;
    border-radius: 20px;
    padding: 10px 20px; /* Adjust padding to match the dropdown button */
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    width: calc(100% - 40px); /* Adjust width to consider padding and border */
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
}

/* Style for the dropdown menu items on hover */
.dropdown-content button:hover {
    background-color: #000000; /* Change background color on hover */
    color: #fff;
}

#filteredItems {
   display:contents;
   height: 100%;
   width: 100%;
}

.filtered-item img {
    width: 550px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
}

.filterButton.active {
    background-color: #000; /* General active state */
    color: #fff;
}

.filterButton.active.special-active {
    background-color: #ff6600; /* Different active state for clicked filters */
    color: #fff;
}



.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 9999;
}



/* Media queries */
@media (max-width: 480px){
    body {
        height:100vh;
        width:100%;
    }
    
    main {
        width: 100vw;
        overflow:hidden;
    }
.about-page-link {
    text-decoration: none; /* Remove underline */
    background-color: none;
    height: 20%;
    width: 40%;
    position: absolute;
    top: 12%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the title is above the canvas */
    text-align: center;
}

.ABOUT {
    margin-left: 0%;
    margin-top: 5%;
    font-size: 6.5rem;
    width:30%;
    background-color: none;
    color:black;
}

.main-page-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from its parent */
}

.OBJECTS {
    margin-left: 48%;
    margin-top: -41%;
    font-size:6.5rem;
}

.main-title {
    height: 40%;
    width: 70%;
    position: absolute;
    top: 37%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the title is above the canvas */
    text-align: center;
    display:flex;
    flex-direction: column;
}

/* Adjust styling for the color filter */
#colorFilter {
    position: absolute;
    top: -19.8%; /* Adjust the top position as needed */
    right: -35%; /* Adjust the right position as needed */
}

/* Adjust styling for the material filter */
#materialFilter {
    position: absolute;
    top: -20%; /* Adjust the top position as needed */
    right: 7%; /* Adjust the right position as needed */
}

/* Adjust styling for the MDM filter */
#MDMFilter {
    position: absolute;
    top: -20%; /* Adjust the top position as needed */
    right: 60%; /* Adjust the right position as needed */
}

/* Adjust width of filter buttons within dropdown menus */
#colorFilter .dropdown-content button {
    width: calc(70%); /* Adjust width to match color filter */
}

#materialFilter .dropdown-content button {
    width: calc(95%); /* Adjust width to match material filter */
}

#MDMFilter .dropdown-content button {
    width: calc(100%); /* Adjust width to match MDM filter */
}

/* Add this CSS to your existing styles */
#colorFilter button,
#materialFilter button,
#MDMFilter button {
    position: relative;
    display: block;
    margin-bottom: 0px; /* Add margin between MDM filter buttons */
}

.filterButton.active.inverted {
    background-color: #fff; /* Change background color */
    color: #000; /* Change text color */
}

/* Dropdown button */
.dropbtn {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top:0%;
}

/* Style for active dropdown button */
.dropbtn.active {
    background-color: #000; /* Change background color */
    color: #fff;            /* Change text color */
    border: 2px solid #fff;  /* Adjust border for better visibility */
}

/* Dropdown container (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: none;
    min-width: 160px;
    z-index: 1;
    padding: 0px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    padding: 0px;
}

/* Dropdown menu items */
.dropdown-content button {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    border-radius: 20px;
    padding: 10px 20px; /* Adjust padding to match the dropdown button */
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    width: calc(100% - 40px); /* Adjust width to consider padding and border */
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
}

#filteredItems {
    display:contents;
    height: 50vh;
    width: 80%;
 }

 .filtered-item img {
    width:350px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    position: absolute;

}
}

@media (min-width: 481px) and (max-width: 768px){}